<body>
  <app-header-order></app-header-order>
  <div class="content">
    <h1>Dirección de envío</h1>
    <div class="form-and-summary">
      <div class="addresses">
    <div class="profile">
      <h2>Direcciones de Envío</h2>
      <div *ngIf="shippingAddresses && shippingAddresses.length > 0; else noShippingAddresses">
        <app-shipping-address-card
          *ngFor="let address of shippingAddresses"
          [address]="address"
          [isSelected]="address.isSelected"
          (select)="selectShippingAddress(address)"
          (edit)="editShippingAddress(address)"
          (delete)="deleteShippingAddress(address)">
        </app-shipping-address-card>
      </div>
      <ng-template #noShippingAddresses>
        <p>No hay direcciones de envío registradas.</p>
      </ng-template>
      <button (click)="openShippingModal(false)" class="btn btn-primary add-address-btn">+ Añadir otra dirección</button>
    </div>

    <div class="profile">
      <h2>Direcciones de facturación</h2>
      <div *ngIf="billingAddresses && billingAddresses.length > 0; else noBillingAddresses">
        <app-shipping-address-card
        *ngFor="let address of billingAddresses"
        [address]="address"
        [isSelected]="address.isSelected"
        (select)="selectBillingAddress(address)"
        (edit)="editShippingAddress(address)"
        (delete)="deleteShippingAddress(address)">
        </app-shipping-address-card>
      </div>
      <ng-template #noBillingAddresses>
        <p>No hay direcciones de facturación registradas.</p>
      </ng-template>
      <button (click)="openBillingModal(false)" class="btn btn-primary add-address-btn">+ Añadir otra dirección</button>
    </div>

    <app-shipping-address-modal
      [showModal]="showShippingModal"
      [shippingAddressForm]="shippingAddressForm"
      (closeModalEvent)="closeModal()"
      (saveAddressEvent)="saveShipAddress($event)">
    </app-shipping-address-modal>

    <app-billing-address-modal
      [showModal]="showBillingModal"
      [billingAddressForm]="billingAddressForm"
      (closeModalEvent)="closeModal()"
      (saveAddressEvent)="saveBillAddress($event)">
    </app-billing-address-modal>
  </div>
    <div class="order-summary">
      <h2>Resumen</h2>
      <p>Subtotal artículos {{ cart.totalPrice | currency:'EUR':'symbol':'1.2-2':'es' }}</p>
      <div class="cart-items">
        <ul>
            <li *ngFor="let item of cart.items">
                <img class="item-photo"
                    [src]="item.product.photos && item.product.photos.length > 0 ? item.product.photos[0] : 'assets/images/1934-pccom-ready-amd-ryzen-7-5800x-32gb-1tb-ssd-rtx-4060-ti-comprar.webp'"
                    alt="{{ item.product.name }}">
                <div class="item-details">
                    <div>{{ item.product.name }}</div>
                    <div>Unidades: {{ item.quantity }}</div>
                    <div>Precio: {{ item.product.price }}€</div>
                </div>
            </li>
        </ul>
    </div>
      <hr class="separator">
      <h3>Total (Impuestos incluidos) {{ cart.totalPrice | currency:'EUR':'symbol':'1.2-2':'es' }}</h3>
      <button (click)="saveAndContinue()">Guardar y Continuar</button>
    </div>
  </div>
</div>

  <app-footer></app-footer>
</body>