<body>
    <app-header-order></app-header-order>
    <div class="content">
      <div class="panel">
        <h2>Restablecer Contraseña</h2>
        <div *ngIf="!emailSent; else emailSentTemplate">
          <p>Ingrese su correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>
          <div class="password-input-container">
            <input type="email" [(ngModel)]="email" placeholder="Correo electrónico" required>
          </div>
          <button (click)="sendResetPasswordEmail()">Enviar Correo Electrónico</button>
        </div>
        <ng-template #emailSentTemplate>
          <div>
            <p>{{ message }}</p>
          </div>
        </ng-template>
        <div *ngIf="!emailSent && message" class="error-message">
          {{ message }}
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
  