/* styles.css */

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    height: 65px;
    border-radius: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search app-categories,
.search app-search-bar {
    margin-right: 10px;
}

.user-actions a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.userName {
    cursor: pointer;
    background-color: whitesmoke;
    padding: 15%;
    border-radius: 20px;
    margin-bottom: 15%;
}

.userName:hover {
    background-color: rgb(199, 199, 199);
}

.user-actions {
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.user-actions button{
    margin-left: 10%;
}

.user-actions .login-links a {
    margin-right: 10px;
}
