<body>
    <app-header-order></app-header-order>
    <div class="content">
      <div class="panel">
        <h2>Restablecer Contraseña</h2>
        <div *ngIf="!passwordReset; else passwordResetTemplate">
          <p>Ingrese su nueva contraseña.</p>
          <div class="password-input-container">
            <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña">
          </div>
          <div class="password-input-container">
            <input type="password" [(ngModel)]="confirmNewPassword" placeholder="Confirmar nueva contraseña">
          </div>
          <button (click)="resetPassword()">Restablecer Contraseña</button>
        </div>
        <ng-template #passwordResetTemplate>
          <div>
            <p>{{ message }}</p>
            <button (click)="goToLogin()">Ir al Inicio de Sesión</button>
          </div>
        </ng-template>
        <div *ngIf="!passwordReset && message" class="error-message">
          {{ message }}
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
  