<div class="modal-backdrop" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}"></div>
<div class="custom-modal modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}"
  [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog" role="document"><button type="button" class="close" aria-label="Close"
      (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir Dirección de Envío</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="shippingAddressForm">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="firstName">Nombre</label>
                <input id="firstName" formControlName="firstName">
                <div *ngIf="shippingAddressForm.get('firstName')?.invalid && shippingAddressForm.get('firstName')?.touched">
                  Se requiere el nombre.
                </div>
              </div>
              <div class="col">
                <label for="lastName">Apellido</label>
                <input id="lastName" formControlName="lastName">
                <div *ngIf="shippingAddressForm.get('lastName')?.invalid && shippingAddressForm.get('lastName')?.touched">
                  Se requiere el apellido.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="country">País</label>
                <input id="country" formControlName="country">
                <div *ngIf="shippingAddressForm.get('country')?.invalid && shippingAddressForm.get('country')?.touched">
                  Se requiere el país.
                </div>
              </div>
              <div class="col">
                <label for="mobile">Teléfono móvil</label>
                <input id="mobile" formControlName="mobile" (input)="limitMobileInput()">
                <div *ngIf="shippingAddressForm.get('mobile')?.invalid && shippingAddressForm.get('mobile')?.touched">
                  Introduce un número de teléfono móvil válido (9 dígitos).
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="postalCode">Código postal</label>
                <input id="postalCode" formControlName="postalCode" (input)="limitPostalCodeInput()">
                <div *ngIf="shippingAddressForm.get('postalCode')?.invalid && shippingAddressForm.get('postalCode')?.touched">
                  Introduce un código postal válido (5 dígitos).
                </div>
              </div>
              <div class="col">
                <label for="city">Ciudad</label>
                <input id="city" formControlName="city">
                <div *ngIf="shippingAddressForm.get('city')?.invalid && shippingAddressForm.get('city')?.touched">
                  Se requiere la ciudad.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="addressLine1">Dirección línea 1</label>
            <input id="addressLine1" formControlName="addressLine1">
            <div *ngIf="shippingAddressForm.get('addressLine1')?.invalid && shippingAddressForm.get('addressLine1')?.touched">
              Se requiere la dirección línea 1.
            </div>
          </div>
          <div class="form-group">
            <label for="addressLine2">Dirección línea 2</label>
            <input id="addressLine2" formControlName="addressLine2">
          </div>
          <div class="form-group">
            <label for="state">Población</label>
            <input id="state" formControlName="state">
            <div *ngIf="shippingAddressForm.get('state')?.invalid && shippingAddressForm.get('state')?.touched">
              Se requiere la población.
            </div>
          </div>
          <div class="form-group">
            <label for="additionalInfo">Información adicional</label>
            <textarea id="additionalInfo" formControlName="additionalInfo"></textarea>
          </div>
          <div class="form-group">
            <label for="isDefault">Establecer como método de pago predeterminado</label>
            <input type="checkbox" id="isDefault" formControlName="isDefault">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="saveAddress()">Guardar</button>
      </div>
    </div>
  </div>
</div>
