<body>
  <app-header></app-header>
  <div class="content">
    <h1 class="title" *ngIf="product">Detalles del Producto: {{ product.name }}</h1>
    <div class="section">
      <div *ngIf="product">
        <h1>{{ product.name }}</h1>
        <h2>Precio: {{ product.price | currency:'EUR':'symbol':'1.2-2':'es' }}</h2>
        <div class="carousel-container">
          <button (click)="prevImage()" class="carousel-btn prev-btn">&lt;</button>
          <img class="carousel-img" [src]="currentImage" alt="{{ product.name }}">
          <button (click)="nextImage()" class="carousel-btn next-btn">&gt;</button>
        </div>
        <div>
          
          <h3>Descripción: </h3>
          <p>{{ product.description }}</p>
          <h3>Características:</h3>
          <ul>
            <li *ngFor="let feature of product.features">{{ feature }}</li>
          </ul>
          <h3>Especificaciones:</h3>
          <ng-container *ngIf="isArray(product.specifications)">
            <ul>
              <li *ngFor="let specification of product.specifications">{{ specification }}</li>
            </ul>
          </ng-container>
          <ng-container *ngIf="isObject(product.specifications)">
            <ul>
              <li class="category" *ngFor="let category of getSpecificationKeys()">
                {{ category }}:
                <ul class="category2">
                  <li  *ngFor="let spec of product.specifications[category] | keyvalue">
                    {{ spec.key }}: {{ spec.value }}
                  </li>
                </ul>
              </li>
            </ul>
          </ng-container>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Cantidad</mat-label>
          <mat-select [(value)]="selectedQuantity">
            <mat-option *ngFor="let quantity of quantities" [value]="quantity">
              {{ quantity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" (click)="addToCart(product._id, selectedQuantity)">
          Añadir al carrito
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
