body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #dfdece;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.section {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  padding: 50px;
  margin-bottom: 20px;

}

button {
  background: #838563;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

button:hover {
  background: #464735;
}