<div class="card" [ngClass]="{'selected': isSelected}">
    <div class="card-body">
        <p *ngIf="payment.isDefault" class="default-label">Predeterminada </p>
        <p>Titular de la cuenta: <strong>{{ payment.cardholderName }}</strong> </p>
        <p>Número de tarjeta: **** **** **** {{ payment.cardNumber.slice(-4) }}</p>
        <p>Fecha de expiración: {{ payment.expirationDate }}</p>
        <div class="card-text">
            <p class="space">
                <button (click)="selectPaymentMethod()" id="btn-select" class="btn">Seleccionar</button>
                <button (click)="editPaymentMethod()" id="btn-edit" class="btn">Editar</button>
                <button (click)="deletePaymentMethod()" id="btn-delete" class="btn">Eliminar</button>
            </p>
        </div>

    </div>
</div>