body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    background-color: #dfdece;
    padding-top: 60px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}

button {
    background: #838563;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
}

button:hover {
    background: #464735;
}

.cart-and-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 20px;
}

.cart-items {
    flex-grow: 2;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.order-summary {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    /* Permite que la altura sea ajustada automáticamente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Centra el contenido verticalmente */
}

.order-summary .separator {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.cart-items ul {
    list-style: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cart-items .item-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-items .item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-items .trash-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.empty-cart {
    text-align: center;
}

@media (max-width: 768px) {
    .cart-and-summary {
        flex-direction: column;
        align-items: center;
    }

    .cart-items,
    .order-summary {
        max-width: 100%;
    }

    .cart-items {
        flex: 1;
        /* Reset flex-grow for small screens */
    }

    .order-summary {
        flex: 1;
        /* Reset flex-grow for small screens */
    }
}