body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    margin-left: 5%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en filas adicionales */
}

.cart-items {
    flex: 1;
    margin-right: 5%;
    /* Espacio entre el contenedor de los artículos y el resumen del pedido */
    max-width: 70%;
    /* Ajusta el tamaño máximo para evitar que el contenedor se haga demasiado ancho en pantallas grandes */
}

.order-summary {
    width: 20%;
    height: 30vh;
    /* Reducir la altura del resumen del pedido */
    border: 1px solid black;
    padding: 1rem;
    margin-top: 5rem;
    /* Modificar el margen superior */
    margin-left: 1rem;
    margin-right: 5%;
    border-radius: 1%;
}

.trash-icon {
    width: 2%;
    /* Ajusta el ancho del icono de la papelera */
    transition: background-color 0.3s ease;
    padding: 0.5%;
    cursor: pointer;
    border-radius: 15%;
}

.trash-icon:hover {
    background-color: rgba(207, 205, 205, 0.5);
    /* Cambia el color de fondo al pasar el ratón por encima */
}

.item-photo {
    width: 20%;
    /* Ajusta el ancho de la foto del artículo */
}

h1 {
    font-weight: 600;
}

ul {
    list-style-type: none;
    /* Esto quita los puntos de la lista */
    padding-inline-start: 0;
    /* Anula el padding a la izquierda */
}

li {
    border: 1px solid black;
    border-radius: 0.5%;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    /* Ajusta el ancho de los elementos li para ocupar todo el ancho del contenedor */
}

button {
    background-color: #333;
    color: white;
    width: 90%;
    height: 3rem;
    /* Ajusta la altura del botón */
    margin-top: 1rem;
    /* Añade un margen superior al botón */
    margin-left: 5%;
    margin-right: 5%;
}