<body>
  <app-header></app-header>
  <div class="content">
    <h1>Pedidos</h1>
    <div class="orders-container">
      <div *ngIf="orders && orders.length > 0 else noResults">
      <div *ngFor="let order of orders" class="order-card">
        <div class="order-header">
          <h3>Pedido #{{ order.orderNumber }}</h3>
          <p>Fecha: {{ order.createdAt | date:'fullDate':'':'es' }}</p>
          <p>Estado: {{ order.status }}</p>
        </div>
        <div class="order-items">
          <div *ngFor="let item of order.items" class="order-item">
            <img
              [src]="item.product.photos && item.product.photos.length > 0 ? item.product.photos[0] : 'ruta_a_imagen_predeterminada.jpg'"
              alt="{{ item.product.name }}">
            <div class="item-details">
              <p>{{ item.product.name }}</p>
              <p>Cantidad: {{ item.quantity }}</p>
              <p>Precio: {{ item.product.price | currency:'EUR':'symbol':'1.2-2':'es' }}</p>
            </div>
          </div>
          <p>Precio total: {{ order.totalPrice | currency:'EUR':'symbol':'1.2-2':'es' }}</p>
        </div>
        <button (click)="cancelOrder(order._id)">Cancelar Pedido</button>
      </div>
    </div>
    <ng-template #noResults>
      <h1>No se encontraron pedidos
      </h1>
    </ng-template>
    </div>
    
  </div>
  <app-footer></app-footer>
</body>