button {
    background: #838563;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

  button:hover {
    background: #464735;
  }