<!-- product-card.component.html -->
<a class="product-link" [routerLink]="['/product-details', product._id]">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ product?.name }}</mat-card-title>
            <mat-card-subtitle>Precio: {{ product?.price }}€</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            [src]="product?.photos && product?.photos.length > 0 ? product?.photos[0] : 'assets/images/1934-pccom-ready-amd-ryzen-7-5800x-32gb-1tb-ssd-rtx-4060-ti-comprar.webp'"
            alt="{{ product?.name }}">
    </mat-card>
</a>
