<body>
    <app-header></app-header>
    <div class="content">
        <section>
            <div *ngIf="products && products.length > 0 else noResults">
                <h2>{{ categoryName }}</h2>
                <hr class="separator">
                <div class="card-container">
                    <div *ngFor="let product of products">
                        <app-product-card [product]="product"></app-product-card>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #noResults>
            <h1>No se encontraron resultados para {{ categoryName }}.
            </h1>
            <div *ngIf="!products || products.length === 0">
                <p>No hay productos disponibles.</p>
            </div>
        </ng-template>
    </div>
    <app-footer></app-footer>
</body>