<body>
  <app-header></app-header>
  <div class="content">
    <div class="admin-home">
      <h1>Panel de Administrador</h1>
      <div class="panel">
        <div class="section">
          <h2>Crear Nuevo Producto</h2>
          <button routerLink="/admin-home/product-management">Gestión de productos</button>
        </div>

        <div class="section">
          <h2>Otorgar Permisos de Administrador</h2>
          <button routerLink="/admin-home/user-management">Gestión de usuarios</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>