/* styles.css */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.content {
    flex: 1;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}