body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #dfdece;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea las tarjetas al inicio */
  }

.card-container-2 > div {
    flex: 0 1 calc(16.66% - 10px); /* 16.66% del contenedor menos un pequeño margen */
    max-width: calc(16.66% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px; /* Espacio entre filas */
  }

section {
    margin-bottom: 40px;
}

.product-carousel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carousel-container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product-card {
    min-width: 300px;
    margin: 10px;
    margin-right: -10px; /* Ajuste para compensar el espacio entre las tarjetas */

}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

h2{
    text-align: center;
}

.separator {
    border: none; /* Elimina el borde predeterminado */
    border-top: 1px solid #ccc; /* Agrega una línea superior */
    margin: 20px 0; /* Espacio alrededor de la línea */
}

.pagination {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
  }
  
  .pagination p {
    margin: 0; /* Elimina el margen */
  }
  
  .pagination button {
    background-color: white; /* Fondo blanco por defecto */
    border: 1px solid #333; /* Añade un borde sólido */
    border-radius: 4px; /* Añade bordes redondeados */
    cursor: pointer;
    font-size: 20px;
    width: 30px; /* Define un ancho */
    height: 30px; /* Define una altura */
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    justify-content: center;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  .pagination button:hover {
    background-color: #ddd; /* Cambia el fondo a gris al pasar el ratón */
  }
  
  .pagination button:focus {
    outline: none;
  }
  