<body>

  <app-header></app-header>

  <div class="content">

    <section class="featured-products">
      <div *ngIf="products && products.length > 0">
        <h2>Productos</h2>
        <div class="card-container">
          <div *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </div>

      <div *ngIf="!products || products.length === 0">
        <p>No hay productos disponibles.</p>
      </div>
    </section>

    <section class="featured-products">
      <div *ngIf="featuredProducts && featuredProducts.length > 0">
        <h2>Productos Destacados</h2>
        <div class="card-container">
          <div *ngFor="let featuredProduct of featuredProducts">
            <app-product-card [product]="featuredProduct"></app-product-card>
          </div>
        </div>
      </div>

      <div *ngIf="!featuredProducts || featuredProducts.length === 0">
        <p>No hay productos disponibles.</p>
      </div>
    </section>

  </div>

  <app-footer></app-footer>

</body>