<body>
    <app-header-order></app-header-order>
    <div class="content">
        <h1>Método de pago</h1>
        <form (ngSubmit)="submitPaymentMethod()">
            <div class="form-group">
              <label for="cardNumber">Número de la tarjeta:</label>
              <input type="text" class="form-control" id="cardNumber" name="cardNumber" [(ngModel)]="paymentMethod.cardNumber" required>
            </div>
            <div class="form-group">
              <label for="expirationDate">Fecha de caducidad:</label>
              <input type="text" class="form-control" id="expirationDate" name="expirationDate" [(ngModel)]="paymentMethod.expirationDate" required>
            </div>
            <div class="form-group">
              <label for="securityCode">CVV:</label>
              <input type="text" class="form-control" id="securityCode" name="securityCode" [(ngModel)]="paymentMethod.securityCode" required>
            </div>
            <div class="form-group">
              <label for="cardholderName">Titular de la tarjeta:</label>
              <input type="text" class="form-control" id="cardholderName" name="cardholderName" [(ngModel)]="paymentMethod.cardholderName">
            </div>
            <button type="submit" class="btn btn-primary">Guardar y continuar</button>
          </form>
    </div>

    <app-footer></app-footer>
</body>