<body>
  <app-header-order></app-header-order>
  <div class="content">
      <h1>Método de pago</h1>
      <div class="form-and-summary">
          <div class="payment-methods">
              <h2>Métodos de Pago</h2>
              <div *ngIf="paymentMethods && paymentMethods.length > 0; else noPaymentMethods">
                <app-payment-method-card
                *ngFor="let payment of paymentMethods"
                [payment]="payment"
                [isSelected]="payment.isSelected"
                (select)="selectPaymentMethod(payment)"
                (edit)="editPaymentMethod(payment)"
                (delete)="deletePaymentMethod(payment)">
            </app-payment-method-card>
              </div>
              <ng-template #noPaymentMethods>
                  <p>No hay métodos de pago registrados.</p>
              </ng-template>
              <button (click)="openModal(false)" class="btn btn-primary">+ Añadir Nuevo Método de Pago</button>
              <app-payment-method-modal
                [showModal]="showModal"
                [paymentMethodForm]="paymentMethodForm"
                (closeModalEvent)="closeModal()"
                (savePaymentEvent)="savePaymentMethod($event)">
            </app-payment-method-modal>
          </div>
          <div class="order-summary">
              <h2>Resumen</h2>
              <p>Subtotal de Artículos: {{ cart.totalPrice | currency:'EUR':'symbol':'1.2-2':'es' }}</p>
              <div class="cart-items">
                <ul>
                    <li *ngFor="let item of cart.items">
                        <img class="item-photo"
                            [src]="item.product.photos && item.product.photos.length > 0 ? item.product.photos[0] : 'assets/images/1934-pccom-ready-amd-ryzen-7-5800x-32gb-1tb-ssd-rtx-4060-ti-comprar.webp'"
                            alt="{{ item.product.name }}">
                        <div class="item-details">
                            <div>{{ item.product.name }}</div>
                            <div>Unidades: {{ item.quantity }}</div>
                            <div>Precio: {{ item.product.price }}€</div>
                        </div>
                    </li>
                </ul>
            </div>
              <hr class="separator">
              <h3>Total (Impuestos incluidos): {{ cart.totalPrice | currency:'EUR':'symbol':'1.2-2':'es' }}</h3>
              <button (click)="finalizeOrder()">Pagar y finalizar</button>
          </div>
      </div>
  </div>

  <app-footer></app-footer>
</body>
